/* Shared Styles */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
}

.title-text {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.special-text-color {
  color: #e55473;
}

.description-text {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.btn {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  color: white;
  border: none;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.flower-tree-name {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

/* Top Banner Section Styles  */
.top-banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 240px 0px 240px;
  background-color: #e554731a;
  margin-bottom: 175px;
}

.top-banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 32px;
}

.top-margin {
  margin-top: 32px;
}

.top-banner-img img {
  width: 635px;
}

/* Featured Flowers Section Styles  */
.featured-flowers-container {
  padding: 0px 240px;
}

.featured-title {
  text-align: center;
}
.featured-text {
  margin-top: 24px;
  margin-bottom: 48px;
  text-align: center;
}

.flower-trees-container {
  display: flex;
  gap: 24px;
  margin-bottom: 128px;
}

.pink-flower-tree {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background-color: #a7216226;
  margin-bottom: 32px;
}

.pink-flower-tree img {
  width: 310px;
  height: 428px;
  padding: 110px 78px 0px 76px;
}

.bouquet-flower {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background-color: #0597a026;
  margin-bottom: 32px;
}

.bouquet-flower img {
  width: 370px;
  height: 370px;
  padding: 117px 47px 51px;
}

.yellow-flower-tree {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background-color: #477d1126;
  margin-bottom: 32px;
}

.yellow-flower-tree img {
  width: 314px;
  height: 471px;
  padding: 67px 75px 0px;
}

/* Customer Support Section Styles  */

.customer-support-container {
  background-color: #2727270d;
  margin: 0px 240px 128px;
  border-radius: 8px;
}

.items {
  display: flex;
  gap: 100px;
  padding: 86px 175px;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.customer-img {
  width: 88px;
  height: 88px;
  margin-bottom: 24px;
}

.item-text {
  color: rgba(39, 39, 39, 0.8);
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
}

/* Hot Deal Section Styles */
.hot-deal-container {
  background-color: #e554730d;
  padding: 100px 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 128px;
}

.hot-deal-content {
  text-align: center;
}

.hot-deal-description {
  margin-top: 24px;
  margin-bottom: 32px;
}

.hot-deal-img img {
  width: 318px;
  height: 420px;
}

/* Instagram Section Styles  */
.instagram-section-container {
  margin-bottom: 128px;
}

.instagram-title {
  text-align: center;
  margin-bottom: 24px;
}

.instagram-description {
  text-align: center;
  margin-bottom: 48px;
}

.instagram-images-container {
  margin: 0px 240px;
}

.instagram-images-container img {
  width: 342px;
  height: 396px;
  padding: 0px 5px;
}

/* Latest Deal Section Styles  */
.latest-deals-container {
  margin: 0px 240px 128px;
  padding: 122px 287px;
  background-image: url("../Asset/Rectangle\ 9.png");
  background-repeat: no-repeat;
  text-align: center;
}

.deals-title {
  margin-bottom: 16px;
}

.deals-description {
  margin-bottom: 48px;
}

.deals-input {
  margin-right: 15px;
  width: 655px;
  height: 64px;
  border-radius: 8px;
  background-color: #fff;
  border: none;
}

.deals-input[placeholder] {
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
}
